build/
.DS_Store
**/*.pbxuser
*.mode2v3
*.mode1v3
**/*.perspectivev*

Podfile.lock

Pods/Pods.xcodeproj/xcuserdata/*
bikefit.xcodeproj/xcuserdata/*
bikefit.xcworkspace/xcshareddata/*
bikefit.xcworkspace/xcuserdata/*

