credentials.csv

bikefit.xcodeproj/xcuserdata/velopez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcuserstate

bikefit.xcodeproj/xcuserdata/velopez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
