<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BitRise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>bikefit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>002733BE1BD1B13200EDA7BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00286C121BD0455000CC0C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00B5AE8C1EBAE7F6000E0650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57BBC668CD454F927DE9C5AB8ED01B6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8531C51759CD6600934E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D8531F91759CD6600934E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A81DD30FD7F7BD24F40C658FDF0E3CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B00E898214B806702901A3D7430003AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7DADE16974C2165F91D66EF15438A94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
